# Keys and certificates
*.key
*.pem
*.pem-chain
*.cert
*.crt

# Build artifacts
target/
result/

# Sample video files
*.mp4
*.h264
*.m4s

# Profiling artifacts
flamegraph.svg
perf.data
*.profraw
*.profdata
