# Logs
logs
*.log
npm-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# parcel-bundler cache (https://parceljs.org/)
.cache
.parcel-cache

# build directories
dist/
target/

# VS Code config
.vscode/

# Keys/certificates
*.key
*.pem
*.pem-chain
*.cert

# Favicon
favicon.*
