form.LoginMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  background-color: #ecf0f1;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
  width: min-content;
  margin: auto;
  padding: 10px;
  text-align: center;
}

form.LoginMenu input {
  margin: auto;
}

form.LoginMenu label {
  padding: 0;
}

form.LoginMenu hr {
  border: 1px solid #7F8C8D;
}

form.LoginMenu input.submit {
  background-color: #E74C3C;
  margin-top: 5px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  width: 100px;
}